<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RENT ROOM LIST</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
  <div class="container-fluid text-center">
    <br> <br>
    <br> <br>
    <h1 style="font-size:500%;"><strong>RENT ROOM LIST</strong></h1>
    <br>
    <br>
    <a class="h2" th:href="@{/users}">Contact details</a>
  </div>
      <img src="C:\Users\Katarzyna\Desktop\programmm\projekt\flat_db\MyWebApp\src\main\resources\templates\image\image.png" >

</body>
</html>